{% extends "base.html" %}

{% block title %}
Payment by Paypal
{% endblock %}

{% block container %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'checkout:cart_item' %}">Shopping Cart</a></li>
  <li class="active">Payment through Paypal</li>
</ol>
<div class="page-header">
    <h1>You're being redirected to Paypal</h1>
</div>
<div id="paypal" class="row">
    {{ form.render }}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function(){
        $("#paypal form").submit();
    });
</script>
{% endblock %}
